[Unit]
Description=Backup script
RequiresMountsFor=/media /media/al/card32g

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/bin/bash /home/al/projects/backup/flash_backup.sh
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
