[Desktop Entry]
Name=notify_backup_errors
GenericName=notify_backup_errors
Comment=
Exec=notify_backup_errors.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
